<br><br>
<hr>


<div class="page-footer text-center">
<a href="https://www.bnl.gov">
<img src="{{ '/images/logos/BNL_Logo_Small.jpg' | relative_url }}" height=60 style="display:block; float:left">
</a>
<img src="{{ '/images/logos/phenix_logo.gif' | relative_url }}" alt="PHENIX logo" height="60">
<a href="https://www.energy.gov/science/hep/high-energy-physics">
<img src="{{ '/images/logos/doe-logo-1024x257.png' | relative_url }}" height=30 style="display:block; float:right">
</a>
</div>

</div> <!-- container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
