<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <link rel="icon" type="image/x-icon" href="{{ '/images/logos/phenix_logo.gif' | relative_url }}">

    <!-- bootstrap framework -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <link rel="stylesheet" href="{{ '/css/npps.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ '/css/aux.css' | relative_url }}" type="text/css" />
    
    <title>{{ page.title }}</title>
    
  </head>
  <body>
    <!-- This is the UPDATED version of the site, work in progress -->
    
{% include navbar_updated.ext %}

    <p/>
    <p/>
<div class="main-container">

